@media screen and (min-width: 769px) {
  #picture {
    float: right;    
    margin: 0px 30px 30px 30px;
  }
}

@media screen and (max-width: 768px) {
  #picture {
    margin: 50px 50px 50px 50px;
  }
  .column {
    width: 100%;
  }
}
